<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>get and post request</h1>

<fieldset>
    <h2>get</h2>

    <form action="/user" method="get">
        <label fro="username">username</label>
        <input type="text" name="username" id="username">
        <label for="age">Age</label>
        <input type="number" name="age" id="age">
        <button>send</button>
    </form>
</fieldset>

<fieldset>
    <h2>post</h2>

    <form action="/user" method="post">
        <label fro="username">username</label>
        <input type="text" name="username" id="username">
        <label for="age">Age</label>
        <input type="number" name="age" id="age">
        <button>send</button>
    </form>
</fieldset>
</body>
</html>