<% layout('layouts/boilerplate') -%>


<div class="row">
    <div class="col-md-6 mx-auto">
        <%- include('../partials/flash') %>
        <h1 class="display-6">SignUp</h1>
        <form action="/register" method="post">
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="username">
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="email">
            </div>
            <div class="mb-3">
                <p>want to register as ?</p>
                    <div class="mx-2">
                        <label for="seller" class="form-label">Seller</label>   
                        <input class="form-check-input mt-0" type="radio" name="role" value="seller" id="seller" aria-label="Radio button for following text input">
                    </div>
                    <div class="mx-2">
                        <label for="buyer" class="form-label">buyer</label>   
                        <input class="form-check-input mt-0" type="radio" name="role" value="buyer" id="buyer" aria-label="Radio button for following text input">
                    </div>
                  
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-success btn-small">SignUp</button>
        </form>
    </div>
</div>